@font-face {
    font-family: 'Teodor TRIAL';
    src: url('../fonts/tendor_font/TeodorTRIAL-Regular.woff2') format('woff2'),
        url('../fonts/tendor_font/TeodorTRIAL-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Teodor TRIAL';
    src: url('../fonts/tendor_font/TeodorTRIAL-Regular.woff2') format('woff2'),
        url('../fonts/tendor_font/TeodorTRIAL-Regular.woff') format('woff');
    font-weight: 350;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Beyond';
    src: url('../fonts/tendor_font/Beyond\ Infinity.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato';
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 88px;
    font-weight: 350;
    line-height: 80%;
    color: rgba(255, 255, 255, 1);
}

h2 {
    font-family: "Teodor TRIAL";
    font-size: 52px;
    line-height: 120%;
    font-weight: 400;
}

h2.black {
    color: rgba(26, 26, 26, 1);
}

h2.white {
    color: rgba(255, 255, 255, 1);
}

/* h3 {
    font-size: 46px;
    line-height: 120%;
    color: #123C7B;
} */
a {
    text-decoration: none;
}

p {
    font-size: 16px;
    font-weight: 400;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1280px;
    padding: 0 20px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

.container-sm {
    max-width: 1280px;
    padding: 0 20px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

.container-fluid {
    max-width: 1370px;
    padding: 0 20px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

.flexclass {
    display: flex;
}

.flexclass.center {
    align-items: center;
    justify-content: center;
}

.imagewidth {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.custom-button {
    display: inline-block;
    /* padding: 10px 30px; */
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    transition: .3s ease all;
    border: 1px solid transparent;
    text-decoration: none;
}

.custom-button.white {
    color: rgba(26, 26, 26, 1);
    background-color: rgba(240, 236, 228, 1);
}

.custom-button.blue {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(23, 42, 85, 1);
}

.custom-button.orange {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(204, 146, 47, 1)
}

.custom-button.white:hover {
    background-color: rgba(26, 26, 26, 1);
    color: rgba(251, 248, 243, 0.5);
    border: 1px solid rgba(26, 26, 26, 1);
}

.custom-button.orange:hover {
    color: rgba(204, 146, 47, 1);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(204, 146, 47, 1);
}

.custom-button.blue:hover {
    color: rgba(23, 42, 85, 1);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(23, 42, 85, 1);
}

.spacer {
    height: 140px;
    width: 100%;
    background-color: #F0ECE4;
}

.beyond-text {
    font-family: "beyond";
    font-size: 32px;
    color: rgba(204, 146, 47, 1);
    font-weight: 400;
}